<h1>Register</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" formControlName="name" />
  <br />
  <label for="email">Email</label>
  <input type="email" id="email" name="email" formControlName="email" />
  <br />
  <label for="password">Password</label>
  <input
    type="password"
    id="password"
    name="password"
    formControlName="password"
  />
  <br />
  <button type="submit">Register</button>
  <div class="login-link">
    Already registered?
    <a [routerLink]="['/login']">Login</a>
  </div>
</form>
